SECRET_KEY=ключ для приложения django

STRIPE_API_KEY=ключ API для сервиса stripe

CURRENCY_API_KEY=ключ API для сервиса конвертации валют https://app.currencyapi.com/

DEBUG=статус режима отладки True / False

DB_NAME=имя базы данных
DB_USER=имя пользователя базы данных
DB_PASSWORD=пароль пользователя базы данных
DB_HOST=адрес хоста базы данных
DB_PORT=порт базы данных

CELERY_BROKER_URL=адрес брокера для отправки задач
CELERY_RESULT_BACKEND=адрес брокера для хранения задач

EMAIL_HOST_USER=адрес почтового ящика для рассылки
MAIL_APP_PASSWORD=пароль приложения для почтового ящика с которого осуществляется рассылка
