SECRET_KEY=ключ для приложения django

DEBUG=статус режима отладки True / False

DB_NAME=имя базы данных
DB_USER=имя пользователя базы данных
DB_PASSWORD=пароль пользователя базы данных
DB_HOST=адрес хоста базы данных
DB_PORT=порт базы данных